<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="com.amonsoft.extparse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="com.amonsoft.extparse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <com.amonsoft.extparse.Properties.Settings>
      <setting name="form_top_first" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="form_run_first" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="screenshot_x" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="screenshot_y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="screenshot_w" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="screenshot_h" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="screenshot_s" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="screenshot_r" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="screenshot_t" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="screenshot_m" serializeAs="String">
        <value>False</value>
      </setting>
    </com.amonsoft.extparse.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <com.amonsoft.extparse.Properties.Settings>
      <setting name="Extparse_exts0001_Exts0001" serializeAs="String">
        <value>http://amonsoft.net/exts/exts0001.asmx</value>
      </setting>
    </com.amonsoft.extparse.Properties.Settings>
  </applicationSettings>
</configuration>